In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('../../../../Data/Venezuelan_Banks/banks_asset_200506.txt', sep=';')

In [14]:
list(df)

['ID', 'Feature', 'weight', 'time']

In [15]:
df.head()

     ID Feature   weight    time
0  B117  TAsset     6406  200506
1  B111  TAsset  4488338  200506
2  B107  TAsset   924953  200506
3  B104  TAsset   709868  200506
4  B101  TAsset  9474726  200506

In [17]:
df.ID.value_counts()

B4      20
B101    20
B31     20
B120    20
B79     20
B111    20
B46     20
B2      20
B13     20
B135    20
B53     20
B121    20
B127    20
B27     20
B37     20
B107    20
B144    20
B145    20
B89     20
B126    20
B52     20
B55     20
B73     20
B62     20
B74     20
B69     20
B117    20
B36     20
B49     20
B45     20
B34     20
B91     20
B72     20
B81     20
B33     20
B86     20
B29     20
B77     20
B43     20
B41     20
B104    20
B16     20
B84     20
B75     20
B39     20
B83     20
B118    20
Name: ID, dtype: int64

In [9]:
df.shape

(836005, 4)

In [ ]:
# user, productid, rating, timestamp

In [21]:
df.Feature.unique()

array(['Mortgage_Loans', 'Treasury_Notes', 'Tourism_Credits',
       'Commercial_Credits', 'Credit_Cards', 'TAsset', 'Other_Credits',
       'Manufacturing_Credits', 'Public_National_Debt', 'Vehicles',
       'Microcredits', 'TLoans', 'Other_Securities', 'Private_Securities',
       'RLoans', 'Treasury_Bonds', 'Agriculture_Credits', 'BCV_Bonds',
       'Agriculture_Bonds', 'Cash'], dtype=object)

In [22]:
df.Feature.value_counts()

Agriculture_Credits      48
TAsset                   48
BCV_Bonds                48
Mortgage_Loans           48
Agriculture_Bonds        48
Other_Securities         48
Credit_Cards             48
Treasury_Bonds           48
Vehicles                 48
Commercial_Credits       48
RLoans                   48
Other_Credits            48
Manufacturing_Credits    48
Tourism_Credits          48
Public_National_Debt     48
Microcredits             48
Treasury_Notes           48
Cash                     48
Private_Securities       48
TLoans                   48
Name: Feature, dtype: int64

In [23]:
df.ID.value_counts()

B49     20
B145    20
B73     20
B45     20
B2      20
B89     20
B33     20
B52     20
B83     20
B39     20
B21     20
B46     20
B62     20
B27     20
B77     20
B127    20
B121    20
B135    20
B104    20
B118    20
B132    20
B13     20
B101    20
B41     20
B91     20
B75     20
B117    20
B55     20
B36     20
B37     20
B4      20
B84     20
B16     20
B31     20
B111    20
B74     20
B34     20
B120    20
B29     20
B53     20
B126    20
B72     20
B107    20
B43     20
B86     20
B69     20
B144    20
B79     20
Name: ID, dtype: int64

In [24]:
df_slim = df[df.weight != 0]

In [26]:
df_slim.Feature.value_counts()

TAsset                  48
Cash                    48
TLoans                  45
Commercial_Credits      43
Microcredits            34
Credit_Cards            34
Vehicles                33
Private_Securities      33
Agriculture_Credits     32
Mortgage_Loans          31
RLoans                  31
BCV_Bonds               31
Public_National_Debt    30
Treasury_Notes          13
Other_Securities        12
Name: Feature, dtype: int64

http://jmcauley.ucsd.edu/data/amazon/